.todolist {

  &__item {
    list-style: none;
    padding-bottom: 5px;
  }

  &__title {
    display: inline-block;
    cursor: pointer;
    min-width: 30px;
    padding-left: 5px;
  }

  &__button {
    color: red;

    &:hover {
      background-color: pink;
    }
  }

  &__edit {
    cursor: default;
    padding-left: 10px;

    :hover {
      background-color: bisque;
    }
  }
}