.todolist {

  &__item {
    list-style: none;
  }

  &__title {
    display: inline-block;
    cursor: pointer;
    min-width: 30px;
    padding-left: 5px;
  }

  &__button {
    color: red;

    &:hover {
      background-color: pink;
    }
  }
}