.footer {
  padding: 2px 5px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  font-weight: 200;


  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    padding-right: 10px;
    font-weight: 300;
  }
}